<table class="table table-hover">
    <thead class="primary">
     <tr>
      <td>Owner Name</td>
      <td>Card No.</td>
      <td>CVV</td>
      <td><i class="far fa-trash-alt fa-lg text-danger"></i></td>
     </tr>
    </thead>
  <tr *ngFor="let pd of service.list">
    <td (click)="populateForm(pd)">{{pd.CName}}</td>
    <td (click)="populateForm(pd)">{{pd.CNumber}}</td>
    <td (click)="populateForm(pd)">{{pd.CVV}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.CNumber)"></i>
    </td>
  </tr>
</table>